
html, body {
  height: 100%;
  margin: 0;
  background: #b3bfcd;
  position: relative;
  color: #fff;
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}


nav {
  margin-left: 5%;
  padding-top: 5%;
}


nav img {
  width: 42.5%;
}

input {
  margin-top: 2%;
  margin-bottom: 20px;
  outline-style: none;
  border: 3px solid #176287;
  box-sizing: border-box;
  border-radius: 10px;
  background: #202028;
  color: #fff;
  width: 450px;
  height: 34px;
}

label {
  display: inline-block;
  margin: 9px 0 26px;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
}

.button {
  background-color: #226287;
  padding: 5px 20px;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  outline-style: none;
  color: #fff;
}

.button-cancel {
  background: #4f4f57;
  margin-left: 2%;
}

.container-aside {
  position: fixed;
  width: 1000px;
  bottom: 13%;
  left: 50%;
  margin-left: -325px;
}


.container-trips {
  border: 5px solid #2F3038;
  background: #2F3038;
  border-radius: 5px;
}

.label-input {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.trips-details-content {
  /* border: 5px solid red; */
  width: 800px;
  height: 530px;
  margin: 0 auto;
  padding-bottom: 4%;
}

.container {
  min-height: 100%;
  background: #2F3038;
  width: 350px;
}

.trips-details-header {
  display: flex;
  padding: 5px 20px;
  font-weight: bold;
  font-size: 18px;
}

.trips-details-header #trips_title {
  color: #f1f1f1;
}

.trips-form-card {
  /* border: 5px solid red; */
  padding-top: 35px;
  font-size: 24px;
  /* margin-bottom: 10px; */
}



.profile-info img {
  width: 60px;
  height: 60px;
  border: 3px solid white;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-info {
  display: flex;
  margin-top: 10%;
  color: #fff;
}

.profile-name a {
  position: relative;
  top: -15px;
}

.profile-name h3 {
  position: relative;
  top: -10px;
}


.footer {
  height: 50px;
  margin-top: -50px;
}

.footer ul {
  margin: 0;
}

.footer ul li {
  display: inline;
  margin: 20px;
}

footer {
  background: #202028;
  color: #fff;
  line-height: 50px;
}

footer a {
  color: #fff;
}
