
html, body {
  height: 100%;
  margin: 0;
  background: #b3bfcd;
  position: relative;
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}


nav {
  margin-left: 5%;
  padding-top: 5%;
}


nav img {
  width: 42.5%;
}

.button {
  background-color: #226287;
  padding: 5px 20px;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  outline-style: none;
  color: #fff;
}


.card {
  background: #f1f1f1;
  /* border: 1px solid red; */
  border-radius: 10px;
  width: 200px;
  max-height: 110px;
  padding: 1%;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  box-shadow: 5px 5px;
  cursor: pointer;
}

.add-card {
  width: 140px;
}


.card p {
  margin: 0;
}


.container-aside {
  /* border: 5px solid black;  ================================== */
  position: absolute;
  width: 1000px;
  bottom: 8%;
  left: 50%;
  margin-left: -325px;
}


.container-stats {
  /* border: 5px solid red; ================================= */
  padding: 10px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

.container-trips {
  background: #2F3038;
  border-radius: 5px;
}

.trips-card-content {
  width: 800px;
  overflow: auto;
  height: 530px;
  padding-left: 9%;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-bottom: 4%;
}

.container {
  /* border: 5px solid red; */
  min-height: 100%;
  background: #2F3038;
  width: 350px;
}

.trips-card-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  font-weight: bold;
  font-size: 18px;
}

.trips-card-header #trips_title {
  color: #f1f1f1;
}


.profile-info img {
  width: 60px;
  height: 60px;
  border: 3px solid white;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-info {
  display: flex;
  margin-top: 10%;
  color: #fff;
}

.profile-name a {
  position: relative;
  top: -15px;
}

.profile-name h3 {
  position: relative;
  top: -10px;
}


.footer {
  height: 50px;
  margin-top: -50px;
}

.footer ul {
  margin: 0;
}

.footer ul li {
  display: inline;
  margin: 20px;
}

footer {
  background: #202028;
  color: #fff;
  line-height: 50px;
}

footer a {
  color: #fff;
}
